
<!--[if lte IE 8]>
<div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
    <p class="browserupgrade font-size-18">
        你正在使用一个
        <strong>
            过时
        </strong>
        的浏览器。请
        <a href="#"​ target="_blank">
            升级您的浏览器
        </a>
        ，以提高您的体验。
    </p>
</div>
<![endif]-->
<header id="header" class="header-fixed">
    <div class="container">
        <ul class="head-list">
            <li class="left tel">
                <img src="picture/1514354107.png" alt="">
                <span>
                            全国咨询热线：
                        </span>
                <em>
                    {$info.contact}
                </em>
            </li>
            <li class="right">
                <ul>
                    <li>
                        <img src="__StaticStyle__/img/1514355047.png" alt="一流的服务">
                        <span>
                                    一流的服务
                                </span>
                    </li>
                    <li>
                        <img src="__StaticStyle__/img/1514354958.png" alt="透明的价格">
                        <span>
                                    透明的价格
                                </span>
                    </li>
                    <li>
                        <img src="__StaticStyle__/img/1514354817.png" alt="重信守誉">
                        <span>
                                    重信守誉
                                </span>
                    </li>
                    <li>
                        <img src="__StaticStyle__/img/1514354461.png" alt="优质的苗木">
                        <span>
                                    优质的草坪
                                </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<nav class="navbar navbar-default met-nav navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                        data-target="#navbar-default-collapse" data-toggle="collapse">
                            <span class="sr-only">
                                Toggle navigation
                            </span>
                    <span class="hamburger-bar">
                            </span>
                </button>
                <a href="{:url('index/index')}"​ class="navbar-brand navbar-logo vertical-align" title="佳禾草坪">
                    <h1 class='hide'>
                        佳禾草坪
                    </h1>
                    <div class="vertical-align-middle">
                        <img src="__ImagePath__{$info.logo_url}" alt="佳禾草坪" title="佳禾草坪"/>
                    </div>
                </a>
                <h2 class='hide'>
                </h2>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="navbar-default-collapse">
                <ul class="nav navbar-nav navbar-right navlist">
                    <li>
                        <a href="{:url('index/index')}"​ title="网站首页" class="link  {if $nav == 'index'}active{/if}">
                            网站首页
                        </a>
                    </li>
                    <li class="dropdown margin-left-20">
                        <a class="dropdown-toggle link {if $nav == 'our'}active{/if}" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" href="{:url('index/about')}">
                            关于我们
                            <span class="caret">
                                    </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right bullet">
                            <li>
                                <a href="{:url('index/about')}"​ class="" title="公司简介">
                                    公司简介
                                </a>
                            </li>
                            <li>
                                <a href="{:url('index/message')}"​ class="" title="在线留言">
                                    在线留言
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown margin-left-20">
                        <a class="dropdown-toggle link {if $nav == 'product'}active{/if}" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" href="{:url('index/product')}">
                            产品中心
                            <span class="caret">
                                    </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right bullet">
                            {foreach $productCate as $v}
                            <li>
                                <a href="{:url('index/product',['cate_id'=>$v.id])}"​ class="" title="{$v.name}">
                                    {$v.name}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </li>
                    <li class="dropdown margin-left-20">
                        <a class="dropdown-toggle link {if $nav == 'show'}active{/if}" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" href="{:url('index/show',['id'=>$showCate[0]['id']])}">
                            基地展示
                            <span class="caret">
                                    </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right bullet">
                            {foreach $showCate as $v}
                            <li>
                                <a href="{:url('index/show',['id'=>$v.id])}"​ class="" title="{$v.title}">
                                    {$v.title}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </li>
                    <li class="dropdown margin-left-20">
                        <a class=" link {if $nav == 'index'}honor{/if}" href="{:url('index/honor')}">
                            资质荣誉
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right bullet">
                        </ul>
                    </li>
                    <li class="dropdown margin-left-20">
                        <a class="dropdown-toggle link {if $nav == 'news'}active{/if}" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" href="{:url('index/news')}">
                            新闻中心
                            <span class="caret">
                                    </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right bullet">
                            {foreach $newsCate as $v}
                            <li>
                                <a href="{:url('index/news',['cate_id'=>$v.id])}"​ class="" title="{$v.name}">
                                    {$v.name}
                                </a>
                            </li>
                            {/foreach}
                        </ul>
                    </li>
                    <li class="dropdown margin-left-20">
                        <a class=" link {if $nav == 'contact'}active{/if}" href="{:url('index/contact')}">
                            联系我们
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right bullet">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>