<!DOCTYPE HTML>
<html>
    
    <head>
        {include file='public:head'}
        <title>公司简介</title>
    </head>
    
    <body class="met-navfixed">
    {include file='public:header'}
        <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="__StaticStyle__/img/banner1.jpg" sizes="(max-width: 767px) 767px" alt="公司简介">
            </div>
        </div>
        <div class="met-column-nav ">
            <div class="container">
                <div class="row">
                    <div class="sidebar-tile">
                        <ul class="met-column-nav-ul invisible-xs">
                            <li>
                                <a href='about.html' class='link active'>
                                    公司简介
                                </a>
                            </li>
                            <li>
                                <a href="message.html"​ class="link ">
                                    在线留言
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="met-show animsition">
            <div class="container">
                <div class="row">
                    <div class="met-editor lazyload clearfix">
                        <div>
                            {$info.description}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {include file='public:footer'}
    </body>

</html>